mat-sidenav-container {
  height: 100%;
}
// mat-sidenav,
// mat-sidenav-container {
//   // padding: 16px;
// }
mat-sidenav {
  width: 200px;
  background-color: lightcoral;
}

.mat-sidenav-content {
  margin-top: 64px;
}
.navbar {
  font-family: "Arial Narrow";
  color: white;
  height: 80px;
  background-color: rgb(78, 78, 78);
}

.mat-sidenav {
  width: 175px;
  // background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  // background-color: #337ab7;
  background-color: #055377;
  // color: rgb(145, 39, 39);
  text-align: center;
}

.position-fixed {
  position: fixed;
}
