<form
  class="emailform-card containerSM"
  [formGroup]="frmEmailPassword"
  (ngSubmit)="onSubmit(this.frmEmailPassword.value)"
>
  <mat-form-field>
    <input
      matInput
      id="email"
      type="email"
      placeholder="email"
      formControlName="email"
    />
    <!-- <mat-error *ngIf="frmEmailPassword.controls['email']?.errors?.['required']">
      Email cannot be null/blank!
    </mat-error>

    <mat-error *ngIf="frmEmailPassword.controls['email']?.errors?.['email']">
      Please enter valid email address
    </mat-error> -->
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      id="password"
      type="password"
      placeholder="Password"
      formControlName="password"
    />
    <!-- <mat-error
      *ngIf="frmEmailPassword.controls['password']?.errors?.['required']"
    >
      Password cannot be null/blank!
    </mat-error>
    <mat-error
      *ngIf="frmEmailPassword.controls['password']?.errors?.['minlength']"
    >
      Minimum 6 characters required!
    </mat-error> -->
  </mat-form-field>
  <button type="submit" class="btn-submit">Submit</button>
</form>

<!-- <form
  (ngSubmit)="onSubmit(this.frmEmailPassword.value)"
  [formGroup]="frmEmailPassword"
>
  <mat-form-field>
    <input
      id="email"
      matInput
      type="email"
      placeholder="Email"
      formControlName="email"
    />
    <mat-error *ngIf="frmEmailPassword.controls['email']?.errors?.['required']">
      Email cannot be null/blank!
    </mat-error>

    <mat-error *ngIf="frmEmailPassword.controls['email']?.errors?.['email']">
      Please enter valid email address
    </mat-error>
  </mat-form-field>
  <br />
  <mat-form-field>
    <input
      id="password"
      matInput
      type="password"
      placeholder="Password"
      formControlName="password"
    />
    <mat-error
      *ngIf="frmEmailPassword.controls['password']?.errors?.['required']"
    >
      Password cannot be null/blank!
    </mat-error>
    <mat-error
      *ngIf="frmEmailPassword.controls['password']?.errors?.['minlength']"
    >
      Minimum 6 characters required!
    </mat-error>
  </mat-form-field>
  <br />

  <button
    type="submit"
    mat-raised-button
    style="background-color: #055377; color: white"
    [disabled]="!this.frmEmailPassword.valid"
    (click)="onSubmit(this.frmEmailPassword.value)"
  >
    Submit
  </button>
</form> -->
