<div class="container">
  <div class="slider-wrap">
    <div class="slider-main">
      <div class="item" *ngFor="let brand of brands">
        <!-- <div class="text" style="margin-left: auto; margin-right: auto">
          {{ brand.brandCode }}
        </div> -->

        <mat-card class="flex-item">
          <mat-card-header>
            <img mat-card-image src="{{ brand.brandlogo }}" alt="BrandLogo" />
          </mat-card-header>

          <mat-card-content>
            <mat-card-title>
              {{ brand.brandCode }}
            </mat-card-title>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="button-area">
      <button class="prev" appPrev>
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >arrow_back_ios</mat-icon
        >
      </button>
      <button type="button" class="next" appNext>
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>
</div>

<!-- <section class="product">
  <div class="container-fluid">
    <div class="slider-wrap">
      <div class="slider-main">
        <div class="item">
          <div class="text">1</div>
        </div>
        <div class="item">
          <div class="text">2</div>
        </div>
        <div class="item">
          <div class="text">3</div>
        </div>
        <div class="item">
          <div class="text">4</div>
        </div>
        <div class="item">
          <div class="text">5</div>
        </div>
      </div>
      <div class="button-area">
        <button class="prev" appPrev>
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >arrow_back_ios</mat-icon
          >
        </button>
        <button type="button" class="next" appNext>
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section> -->

<!-- <div class="img-thumb" *ngFor="let brand of brands">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <p
          style="
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.2;
            margin-left: auto;
            margin-right: auto;
          "
        >
          {{ brand.brandCode }}
        </p>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
    
  </mat-card>
</div> -->
