<div class="container-fluid">
  <!-- <app-categoryheader (selectedCat)='categorySelecting($event)'></app-categoryheader> -->
  <!-- <app-categories></app-categories> -->
  <!-- Horizontal Scrollable list of offers -->
  <section id="section1">
    <h3>Hot Deals</h3>

    <div class="scrollmenu text-center thumbnails">
      <app-alloffers></app-alloffers>
    </div>
  </section>

  <section id="section2">
    <h3>Shop by categories</h3>
    <div class="scrollmenu text-center thumbnails">
      <app-categories></app-categories>
    </div>
  </section>

  <section id="section3">
    <h3>Shop by brands</h3>
    <div class="scrollmenu text-center thumbnails">
      <app-brands></app-brands>
    </div>
  </section>

  <!-- <div class="scrollmenu text-center thumbnails">
          <app-brandlist></app-brandlist>
        </div> -->
</div>
