<section class="product">
  <div class="container">
    <button class="prev" appPrevious>
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >arrow_back_ios</mat-icon
      >
    </button>
    <div class="slider-wrap">
      <div class="slider-main">
        <div class="item">
          <div class="text">Desktop Computers</div>
        </div>
        <div class="item">
          <div class="text">Laptops</div>
        </div>
        <div class="item">
          <div class="text">Mobile Phones</div>
        </div>
        <div class="item">
          <div class="text">Routers</div>
        </div>
        <div class="item">
          <div class="text">Rack Mount Cabinet</div>
        </div>
      </div>
      <div class="button-area"></div>
    </div>
    <button type="button" class="next" appNext>
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</section>
