.container {
  display: flex;
  // border: solid thin;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.flex-item {
  color: black;
  font-size: 0.8rem;
  padding: 1rem;
  text-align: center;
  background-color: white;
  border: 1px solid black;
}

mat-card {
  // background-color: #eaeff0;
  border: solid thin;
  border-radius: 5px;
  padding: 10px;
  width: 100px;

  // min-width: 100px;
  // max-width: 100px;
  height: 120px;

  margin: 5px;
  text-align: center;
  justify-content: centre;
  cursor: pointer;
}
// .product {
//   padding: 20px 0;
// }
.slider-wrap {
  display: relative;
  overflow: hidden;
  height: 150px;
}

.slider-main {
  display: absolute;
  width: 300%;
}

.item {
  display: inline-block;
  // background-color: red;
  width: 125px;
  height: 150px;
  position: relative;
  margin: 0 12px;
  border: 1px solid black;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bolder;
}

.prev {
  position: absolute;
  left: 0px;
  margin-left: 5px;
  // top: 520px;
  //transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  height: 50px;
}
.next {
  position: absolute;
  right: 0px;
  margin-right: 5px;
  // top: 520px;
  //transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  height: 50px;
}

.container button {
  height: 150px;
}

// For small screens
@media screen and (max-width: 700px) {
  .text {
    font-size: 10px;
  }
}
